-e git+https://github.com/jbshp/GenCompareSum.git@d973b1eb27e677144581f0ab50e05df07d4e491c#egg=bert_score&subdirectory=src/bert_score
jupyter==1.0.0
nltk==3.6.5
numpy==1.19.5
pandas==1.3.3
-e git+https://github.com/bheinzerling/pyrouge@08e9cc35d713f718a05b02bf3bb2e29947d436ce#egg=pyrouge
scipy==1.5.4
sentence-transformers==2.1.0
simcse==0.4
six==1.16.0
sklearn==0.0
sumy==0.9.0
tokenizers==0.10.3
torch==1.9.1
torchvision==0.10.1
tqdm==4.63.0
transformers==4.10.0
